html {
    font-family: sans-serif;
    font-size: 20px;
    background-color: bisque;
    text-align: center;
}

#titulo {
    text-align: center;
    font-size: 50px;
}

.foto {
    width: 350px;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}